
  body{
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: black;
      font-family: Arial, Helvetica, sans-serif;
  }

  .message-box {
    width: 900px;
    max-width: calc(100% - 20px);
    margin: 0 auto 10px;
    height: 1em;
    font-size: 30px;
    color:  white;
    
    
  }

  .table {
    width: 900px;
    max-width: calc(100% - 20px);
    background: rgb(28, 116, 6);
    border-radius: 10px;
    margin: 0 auto;
    color: white;
    padding: 30px;
  }

  .player {
    margin: 20px;
  }

  .player-name {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }


.buttons {
  display: flex;
  justify-content: space-between;
  margin: 24px;
}


button {
  background-color: yellow;
  color: rgb(28, 116, 6);
  border-radius: 20px;
  border: transparent;
  width: 160px;
  margin: 16px;
  padding: 8px 16px 8px 16px;
  font-size: 24px;
  font-weight: bold;
  
}

button:hover {
  background-color: rgb(18, 71, 4);
  color: yellow;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  box-sizing: border-box;
  outline: solid yellow 2px;


}


.hand {
    height: 120px;
    border: 2px solid rgb(249, 250, 248);
    border-radius: 8px;
  }

.hand img {
    height: 85%;
    width: auto;
    padding: 10px 0 10px 10px;
}
  
.points {
    font-style: italic;
  }